atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
coverage==4.5.2
flake8==3.6.0
idna==2.8
mccabe==0.6.1
more-itertools==5.0.0
nltk==3.4
peewee==3.8.1
pluggy==0.8.1
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytest==4.1.0
pytest-cov==2.6.1
requests==2.21.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.8
urllib3==1.24.1
